#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: #1A2902;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  grid-area: header;
  background-color: #344C11;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: left;
  align-items: center;
  gap: 10em;
}

main {
  place-items: center;
  grid-area: content;
  padding: 15px;
}

aside {
  grid-area: sivupylly;
  padding: 15px;
  max-width: 150px;
}

footer {
  grid-area: footer;
  background-color: #344C11;
  padding: 10px;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "header header"
    "sivupylly content"
    "footer footer";
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "sivupylly"
      "content"
      "footer";
  }
}
